@model EngineeringCentreDashboardWebApp.Models.WeatherResponse

@{
    ViewData["Title"] = "Weather Forecast";
}


<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-4">Today's Weather</h1>
            @*<p class="lead">@Model.City.Name, @Model.City.Country</p>*@
            @if (Model.City != null)
            {
                <p class="lead">@Model.City.Name, @Model.City.Country</p>
            }

        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Main Weather Information</h5>
                    <p class="card-text">Temperature: @Model.List[0].Main.Temp &#8451;</p>
                    <p class="card-text">Feels Like: @Model.List[0].Main.Feels_like &#8451;</p>
                    <p class="card-text">Pressure: @Model.List[0].Main.Pressure hPa</p>
                    <p class="card-text">Humidity: @Model.List[0].Main.Humidity %</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Additional Weather Information</h5>
                    @foreach (var weather in Model.List[0].Weather)
                    {
                        <p class="card-text">Description: @weather.Description</p>
                        <p class="card-text">Icon: <img src="http://openweathermap.org/img/wn/@(weather.Icon)" alt="Weather Icon" /></p>
                    }
                    <p class="card-text">Clouds: @Model.List[0].Clouds.All %</p>
                    <p class="card-text">Wind Speed: @Model.List[0].Wind.Speed m/s</p>
                    <p class="card-text">Wind Direction: @Model.List[0].Wind.Deg &deg;</p>
                </div>
            </div>
        </div>
    </div>

    <h2>To-Do List</h2>
    <div id="todoListContainer">
        @{
            Html.RenderPartial("_ToDoListPartial", Model.List);
        }
    </div>
</div>
